%div.row
  %form{ action: '/translate', method: :post }
    %div.form-group
      %label Оригинален текст
      %textarea.form-control{ rows: 5, name: 'text[original]'}= @original_text

    %div.form-group
      %label Изчистен текст
      %textarea.form-control{ rows: 5, name: 'text[translated]' }= @translated_text

    %button.btn.btn-primary{ type: 'submit' } Преведи

