%div.row
  %form{ action: '/translate', method: :post }
    %div.form-group
      %input.form-control{ type: 'text', name: 'text[original]', value: @original_text }

    %div.form-group
      %input.form-control{ type: 'text', name: 'text[translated]', value: @translated_text }

    %button.btn.btn-primary{ type: 'submit' } Преведи

